/*FONTE*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/*NAVBAR*/

.navbar{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.navbar-collapse{
    justify-content: center;
}
.nav-link{
    font-weight: 600;
    color: #a0a0a0;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.nav-link:after{
    content: "";
    position: absolute;
    background-color: #1c3ccd;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.nav-link:hover{
    font-weight: bold;
    color: white;
}
.nav-link:hover:after{
    width: 100%;
}
.nav-item{
    padding: 10px 10px;
}

/*BOTÃO LOGIN/CADASTRO*/

.nav .btn-primary{
    background-color: transparent;
    border: solid 1px white;
    color: white;
    font-size: x-small;
}
.nav .btn-primary:hover{
    background-color: #1c3ccd;
    border: solid 1px #1c3ccd;
    transition: all 0.3s ease-in;
}
.nav .btn-primary:focus{
    outline: none !important;
    box-shadow: none !important;
}

/*MODAL LOGIN*/

.modal-title{
    font-weight: bolder;
    text-align: center;
    font-family: 'Patua One', cursive;
}
.modal-body .btn-primary{
    width: 90%;
    margin-top: 10px;
    background-color: #1c3ccd;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}
.btnsub, .modal-footer{
    text-align: center;
}
.modal-footer .btn-primary{
    width: 100%;
    font-weight: bolder;
    height: 60px;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}
.modal-footer .btn-primary:hover{
    box-shadow: 0px 4px 15px 0px black;
}
.modal-body{
    font-family: 'Poppins', sans-serif;
}

/*BANNER*/

.carousel-inner img{
    height: 80vh;
    object-fit: cover;
}
.banner1 .carousel-inner h1{
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 1px;
}
.banner1 .carousel-inner p{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 0.6px;
}
.banner1 .carousel-inner .btn{
    font-family: 'Patua One', cursive;
    background-color: transparent;
    border: solid 1px white;
    box-shadow: 0px 6px 15px 7px black;
}
.banner1 .carousel-inner .btn:hover{
    background-color: #1c3ccd;
    border:solid 1px #1c3ccd;
    box-shadow: 0px 6px 15px 7px black;
}

/*QUEM SOMOS*/

#empresa{
    background-color: black;
}
.titulo{
    margin-top: 60px;
    margin-bottom: 45px;
    font-family: 'Patua One', cursive;
    color: white;
}
#empresa p{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 60px;
}
.teste{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*ESSENCIA*/

.titulo-essencia{
    text-align: center;
    font-family: 'Patua One', cursive;
    margin-top: 60px;
    margin-bottom: 80px;
    color: black;
}
.essencia .card{
    background-color: black;
}
.essencia .card p{
    font-size: x-small;
}
.essencia .card-deck{
    margin-bottom: 60px;
    margin-top: 70px;
}
.essencia .card:hover{
    background-color: #1c3ccd;
    transition: all 0.3s ease-in;
    transform: scale(1.1);
}
.essencia .card-img-top{
    margin-top: 70px;
    margin-bottom: 40px;
}
.essencia .card-title{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Patua One', cursive;
}

/*PARCEIROS E CLIENTES*/

#parceiros{
    background-color: black;
}
.titulo-parceiros{
    text-align: center;
    font-family: 'Patua One', cursive;
    padding-top: 60px;
    margin-bottom: 80px;
    color: white;
}
#parceiros h3{
    font-family: 'Patua One', cursive;
    color: white;
    margin-bottom: 20px;
}
.text-parceiros{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 60px;
}
.imagem-parceiro{
    margin-bottom: 40px;
}
.img-thumbnail{
    margin-right: 30px;
    width: 120px;
    height: 120px;
    display: inline;
}
.espaço{
    padding-bottom: 60px;
}

/*TRABALHE CONOSCO*/

.linha{
    height: 250px;
}
.text-trabalhe{
    font-family: 'Poppins', sans-serif;
    color: #1c3ccd;
    font-weight: bolder;
    font-size: 24px;
}
.trabalhebtn{
    background-color: #1c3ccd;
    border: solid 2px #1c3ccd;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}
.trabalhebtn:hover{
    background-color: transparent;
    color: #1c3ccd;
    border: solid 2px #1c3ccd;
    transition: all 0.3s ease-in;
}

/*SOLUÇOES*/

.solucoes{
    margin: 60px 40px
}