/*FONTE*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html{
    scroll-behavior: smooth;
}

/*BOTÃO MENU*/

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #1c3ccd;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 999;
    font-size: 30px;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*NAVBAR*/

.navbar{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.navbar-collapse{
    justify-content: center;
}
.nav-link{
    font-weight: 600;
    color: #a0a0a0;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.nav-link:after{
    content: "";
    position: absolute;
    background-color: #1c3ccd;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.nav-link:hover{
    font-weight: bold;
    color: white;
}
.nav-link:hover:after{
    width: 100%;
}
.nav-item{
    padding: 10px 10px;
}

/*BOTÃO LOGIN/CADASTRO*/

.nav .btn-primary{
    background-color: transparent;
    border: solid 1px white;
    color: white;
    font-size: x-small;
}
.nav .btn-primary:hover{
    background-color: #1c3ccd;
    border: solid 1px #1c3ccd;
    transition: all 0.3s ease-in;
}
.nav .btn-primary:focus{
    outline: none !important;
    box-shadow: none !important;
}

/*MODAL LOGIN*/

.modal-title{
    font-weight: bolder;
    text-align: center;
    font-family: 'Patua One', cursive;
}
.modal-body .btn-primary{
    width: 90%;
    margin-top: 10px;
    background-color: #1c3ccd;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}
.btnsub, .modal-footer{
    text-align: center;
}
.modal-footer .btn-primary{
    width: 100%;
    font-weight: bolder;
    height: 60px;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}
.modal-footer .btn-primary:hover{
    box-shadow: 0px 4px 15px 0px black;
}
.modal-body{
    font-family: 'Poppins', sans-serif;
}

/*BANNER*/

.carousel-inner img{
    height: 80vh;
    object-fit: cover;
}
.banner1 .carousel-inner h1{
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 1px;
}
.banner1 .carousel-inner p{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 0.6px;
}
.banner1 .carousel-inner .btn{
    font-family: 'Patua One', cursive;
    background-color: transparent;
    border: solid 1px white;
    box-shadow: 0px 6px 15px 7px black;
}
.banner1 .carousel-inner .btn:hover{
    background-color: #1c3ccd;
    border:solid 1px #1c3ccd;
}

/*QUEM SOMOS*/

#empresa{
    background-color: black;
}
.titulo{
    margin-top: 60px;
    margin-bottom: 45px;
    font-family: 'Patua One', cursive;
    color: white;
}
#empresa p{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 60px;
}
.teste{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*ESSENCIA*/

.titulo-essencia{
    text-align: center;
    font-family: 'Patua One', cursive;
    margin-top: 60px;
    margin-bottom: 80px;
    color: black;
}
.essencia .card{
    background-color: black;
    text-align: justify;
}
.essencia .card p{
    font-size: x-small;
}
.essencia .card-deck{
    margin-bottom: 60px;
    margin-top: 70px;
}
.essencia .card:hover{
    background-color: #1c3ccd;
    transition: all 0.3s ease-in;
    transform: scale(1.1);
}
.card-img-top{
    margin-top: 70px;
    margin-bottom: 40px;
}
.essencia .card-title{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Patua One', cursive;
}

/*PARCEIROS E CLIENTES*/

#parceiros{
    background-color: black;
}
.titulo-parceiros{
    text-align: center;
    font-family: 'Patua One', cursive;
    padding-top: 60px;
    margin-bottom: 80px;
    color: white;
}
#parceiros h3{
    font-family: 'Patua One', cursive;
    color: white;
    margin-bottom: 20px;
}
.text-parceiros{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 60px;
}
.imagem-parceiro{
    margin-bottom: 40px;
}
.img-thumbnail{
    margin-right: 30px;
    width: 120px;
    height: 120px;
    display: inline;
    transition: 0.5s;
    padding: 0 !important;
}
.img-thumbnail:hover{
    transform: scale(1.1);
}
.espaço{
    padding-bottom: 60px;
}

/*TRABALHE CONOSCO*/

.linha{
    height: 250px;
}
.text-trabalhe{
    font-family: 'Poppins', sans-serif;
    color: #1c3ccd;
    font-weight: bolder;
    font-size: 24px;
}
.text-trabalhe span{
    font-style: oblique;
    font-size: 27px;
}
.trabalhebtn{
    background-color: #1c3ccd;
    border: solid 2px #1c3ccd;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}
.trabalhebtn:hover{
    background-color: transparent;
    color: #1c3ccd;
    border: solid 2px #1c3ccd;
    transition: all 0.3s ease-in;
}

/*BANNER PRODUTOS*/

#produtos .carousel-caption{
    text-align: left;
    left: 3%;
}
#produtos .btn-primary{
    background-color: transparent;
    border: solid 2px white;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}
#produtos .btn-primary:hover{
    background-color: #1c3ccd;
    border: solid 2px #1c3ccd;
}
#produtos .carousel-inner h1{
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
#produtos .carousel-inner p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
}

/*PRODUTOS*/

#produtoscard{
    margin: 60px 40px
}
#produtoscard .card{
    transition: all 0.3s ease-in;
}
#produtoscard .card-body{
    font-family: 'Poppins', sans-serif;
}
#produtoscard .card-title{
    font-family: 'Patua One', cursive;
}
#produtoscard .card:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.producard{
    font-weight: bolder;
    font-size: large;
    color: #1c3ccd;
    font-family: 'Patua One', cursive;
    text-decoration: none !important;
}
.producard i{
    color: #1c3ccd;
}

/*SERVIÇOS*/

#servicos{
    background-color: black;
}
#servicos .pp{
    margin-top: 20%;
}
#servicos .pp h1, .imgserv h2{
    font-family: 'Patua One', cursive;
    color: white;
    margin-bottom: 20px;
}
#servicos .pp p, .imgserv p{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.imgserv{
    text-align: center;
    margin-top: 50px;
}
.imgserv img{
    margin-bottom: 25px;
}
.tipserv{
    margin-top: 90px;
    text-align: center;
}
.tipserv img{
    padding: 30px;
}
.tipserv .col{
    margin: 10px;
}
.tipserv img:hover{
    transform: scale(1.1);
}
.tipserv h5{
    font-family: 'Patua One', cursive;
    color: white;
    margin-bottom: 25px;
}
.tipserv p{
    font-family: 'Poppins', sans-serif;
    color: white;
}

/*MEDIA*/

@media (max-width: 768px){
    .nav{
        display: block;
    }
    .navbar{
        display: flex;
    }
    .navbar-brand{
        text-align: center;
    }
    #trabalhe{
        display: none;
    }
}
@media (max-width: 427px){
    .qms{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .qmss{
        display: none;
    }
    .essencia .card:hover{
        transform: scale(1.0);
    }
    .img-thumbnail{
        margin-bottom: 20px;
    }
    #trabalhe{
        display: none;
    }
    .carousel-caption{
        height: 75%;
    }
    #empresa .titulo{
        text-align: center;
    }
    .lala{
        text-align: center;
    }
    .lala h3{
        margin-bottom: 30px;
    }
    .essencia .card p{
        font-size: medium;
    }
    #servicos .pp, #servicos .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    #servicos h1{
        text-align: center;
    }
    .tipserv .col{
        margin-bottom: 85px;
    }
}